.details {
  margin: 0;

  .summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 24px;
    margin: 0;
    cursor: pointer;

    &.active {
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomright: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
      }
    }

    @media (max-width: 430px) {
      padding: 16px;
    }

    &.light {
      background-color: #e7e8e8;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);

      &.light {
        background-color: #ced0d2;

        &.active {
          background-color: #e7e8e8;
        }
      }
    }

    .contentItem {
      display: flex;
      align-items: center;
      margin: 0;
      gap: 16px;

      .number {
        margin: 0;
        font-weight: 500;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.6);

        &.light {
          color: #6d7377;
        }
      }

      .name {
        margin: 0;
        font-weight: 800;
        font-size: 20px;
        color: #fff;

        @media (max-width: 430px) {
          font-size: 18px;
        }

        &.light {
          color: #0c151d;
        }
      }
    }

    .marker {
      margin: 0;
      width: 16px;
      transition: all 0.4s ease-in-out;
      transform: rotate(0);

      &.active {
        transition: all 0.4s ease-in-out;
        transform: rotate(0.5turn);
      }
    }
  }

  .content {
    padding: 0;
    height: 0;
    display: none;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;

    &.active {
      padding: 8px 52px 32px 52px;
      height: 100%;
      display: block;
      opacity: 1;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &.light {
      background-color: #e7e8e8;
    }

    @media (max-width: 430px) {
      padding: 0;

      &.active {
        padding: 8px 16px 16px 16px;
      }
    }
  }
}
