.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 820px;
  background-color: #182129;
  padding: 40px 0;
  border-radius: 32px;

  &.light {
    background-color: #f3f3f4;
  }

  @media (max-width: 670px) {
    flex-direction: column;
    gap: 24px;
  }

  .desc {
    display: flex;
    align-items: center;
    gap: 30px;

    .avatarWrapper {
      background-color: #0c151d;
      border-radius: 50%;
      overflow: hidden;

      @media (max-width: 670px) {
        padding: 12px;
      }

      &.light {
        background-color: #fff;
      }

      .avatar {
        width: 68px;

        @media (max-width: 670px) {
          width: 40px;
        }
      }
    }

    .name {
      text-align: left;

      .nameItem {
        font-weight: 800;
        font-size: 40px;
        color: #fff;

        &.light {
          color: #0c151d;
        }

        @media (max-width: 670px) {
          font-size: 24px;
        }
      }

      .profession {
        font-size: 16px;

        &.light {
          color: #6d7377;
        }
      }
    }
  }

  .button {
    width: 180px;
    height: 50px;
    padding: 15px;
    background-image: linear-gradient(
      to right,
      #fc6076,
      #ff9a44,
      #ef9d43,
      #e75516
    );
    border-radius: 10px;
    border: none;
    background-size: 300% 100%;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;

    @media (max-width: 670px) {
      width: 280px;
    }

    &:hover {
      background-position: 100% 0;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    &:active {
      filter: brightness(40%);
    }

    .downloadButton {
      display: flex;
      align-items: center;

      @media (max-width: 670px) {
        justify-content: center;
        gap: 15px;
      }

      p {
        font-weight: 800;
        font-size: 14px;
        color: #fff;

        @media (max-width: 670px) {
          margin: 0;
        }
      }

      img {
        @media (max-width: 670px) {
          margin: 0;
        }
      }
    }
  }
}
