* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  font-family: "Arsenal", sans-serif;
  color: #a3abb2;
  cursor: none;
}

.App {
  text-align: center;
  padding: 10px;
}

.appWrapper {
  max-width: 1200px;
}
